{% extends 'base.html.twig' %}

{% block body %}
    <div class="projects">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="panel panel-default project">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ project.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ project.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.projects').masonry();
    </script>
{% endblock %}