{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(taskForm) }}
        {{ form_row(taskForm.name) }}
        {{ form_row(taskForm.description) }}

        <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(taskForm) }}
{% endblock %}

